---
import type { Code } from "astro:components"
import Layout from "../layouts/Layout.astro"
import type { headers } from "next/dist/client/components/headers"
---

<Layout title="Home">
    <div class="font-serif mx-auto mt-14">
        <span class="text-center">

            <h1 class="text-5xl">Hello, I'm Dean</h1>
            <p class="italic text-xs">Also known as Moho, BelugaMale, etc.</p>
            <p class="text-sm w-4/5 md:w-3/5 mx-auto mt-6">I'm currently studying Physics at Cornell University. I'm also exploring functional programming (Haskell), trying to learn American Sign Language, honing my juggling skills, and working on this site. Feel free to explore my <a href="/content" class="text-seclight underline hover:text-red-700">content here</a>, and learn more about me <a href="/about" class="text-seclight underline hover:text-red-700">here.</a></p>

        </span>
    </div>
</Layout>